<div class="container">
  <!--Phan header cua wen-->
<header>
    <img src ="assets/banner.png">
    
</header>
<!--Phan menu-->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">WEB EXAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/introduction']">Gioi Thieu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/contact']">Lien he</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/feedback']">Gop y</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home/answer']">Hoi dap</a>
        </li>
        
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tai khoan
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" [routerLink]="['/home/sign-up']">Dang ki</a>
                  <a class="dropdown-item" [routerLink]="['/home/sign-in']">Dang nhap</a>
                  <a class="dropdown-item" href="#">Quen mat khau</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Dang xuat</a>
                  <a class="dropdown-item" href="#">Doi mat khau</a>
                  <a class="dropdown-item" href="#">Cap nhat thong tin tai khoan</a>
                </div>
              </li>
        </ul>
    </div>

    </div>
  </nav>
  <router-outlet></router-outlet>
<!--Phan footer-->
<div class="alert alert-info mr text-center" role="alert">
    Day la trang web kiem tra ki nang va dang ki khoa hoc chi tiet<a href="">@chi tiet</a>
</div>
</div>