<div class="row mr">
    <aside class="col-lg-3 col-sm-4">
      <!--Thanh tim kiem mon hoc-->
      <div class="search">
        <div class="card">
          <div class="card-header">
               Tim kiem mon hoc
          </div>
          <div class="card-body">
              <div class="input-group">
                  <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Search" aria-describedby="inputGroupPrepend2" required>
                  <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroupPrepend2"><a href="#"><i class="fas fa-search"></i></a></span>
                  </div>
              </div>
          </div>
        </div>
      </div>
    <!--List group cac mpon hoc-->
    <div class="catelogy">
      <ul class="list-group">
          <li class="list-group-item active">Danh muc mon hoc</li>
          <li class="list-group-item">Xay dung trang web</li>
          <li class="list-group-item">SQL Sever</li>
          <li class="list-group-item"> Co so du lieu</li>
          <li class="list-group-item">Lap trinh huong doi tuong java</li>
          <li class="list-group-item">Lap trinh game</li>
          <li class="list-group-item">Lap trinh PHP</li>
          <li class="list-group-item">Lap trinh android</li>
          <li class="list-group-item">Lap trinh ASP.NET</li>
          <li class="list-group-item">Thiet ke do hoa</li>
      </ul>
   </div>
   <div class="gif mr">
       <div class="card" style="height:125px;">
         <img src ="assets/meo.gif">
      </div>
   </div>
    </aside>
    <!--Phan article-->
    <article class ="col-lg-9 col-sm-8">
          <div class="card">
              <div class="card-header">
                 Dang nhap vao web nha <i class='far fa-hand-point-down'></i>
              </div>
              <div class="card-body" *ngIf="!login">
                <!--Trang lien he--> 
                <form (ngSubmit)="onSubmit();" [formGroup]="formSignIn">
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">UserName : </label>
                        <input type="text" class="form-control" id="inputEmail4" placeholder="UserName" formControlName="username"><br>
                        <p *ngIf="formSignIn.get('username').errors?.required && formSignIn.get('username').touched">Ko dc de trong ki tu</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">Password :</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" formControlName="password"><br>
                        <p *ngIf="formSignIn.get('password').errors?.required && formSignIn.get('password').touched">Ko dc de trong ki tu</p>
                        <p *ngIf="formSignIn.get('password').errors?.minlength && formSignIn.get('password').touched">Mat khau phai it nhat 6 ki tu</p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputPassword4">New-Password :</label>
                        <input type="password" class="form-control" id="inputPassword4" placeholder="Password" formControlName="newpassword"><br>
                        <p *ngIf="formSignIn.get('newpassword').errors?.required && formSignIn.get('newpassword').touched">Ko dc de trong ki tu</p>
                        <p *ngIf="formSignIn.get('newpassword').errors?.minlength && formSignIn.get('newpassword').touched">Mat khau phai it nhat 6 ki tu</p>
                    </div>
                    <button [disabled]="formSignIn.invalid" type="submit" class="btn btn-primary">Sign In</button>
                </form><br>
                <p>Vui long dang ki truoc khi dang nhap hehe</p>
              </div>
      <!--Dang nhap thanh cong-->
              <div class="card-body" *ngIf="login">
                <h3 style="color:green;">Ban da doi mat khau thanh cong vui long dang nhap lai thanh cong</h3>
                <button type="submit" class="btn btn-primary" (click)="Login()">Tro ve trang truoc</button>
              </div>
      <!--Phan trang di chuyen cho web-->
           <div class="card-footer text-center">
            <a><i class='far fa-hand-point-up'></i></a>
            <a><i class='far fa-hand-point-left'></i></a>
            <a><i class='far fa-hand-point-right'></i></a>
            <a><i class='far fa-hand-point-down'></i></a>
           </div>
        </div>
        <div class="jumbotron jumbotron-fluid mr">
                <div class="container">
                  <h4 class="display-5">Khoa Hoc Lap Trinh Web 90 Ngay tai day</h4>
                  <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
        </div>
    </article>
  </div>
